<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Select a Product Category</title>
</head>

<body>
  <main>
     <h1>Select a song genre</h1>
  <form action="/songs" method="post">
    <div class="btn-container">
      <button class="genre-btn" type="submit" name="genre" value="Pop">Pop</button>
      <button class="genre-btn" type="submit" name="genre" value="Electronic">Electronic</button>
      <button class="genre-btn" type="submit" name="genre" value="Rock">Rock</button>
    </div>
  </form>
  </main>
 
</body>

</html>