<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Songs</title>
</head>

<body>
  <main>
    <h1 class="centerContainer">
      <%= songs[0].sjanger %>
    </h1>
    <ul>
      <% songs.forEach((song)=> { %>
        <li>
          <%= song.artist %> - <%= song.Album %> - <%= song.songname %>
        </li>
        <% }) %>
    </ul>
    <div class="return">
       <a href="/">Back to Category Selection</a>
    </div>
  </main>

</body>

</html>